<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
      <a href="/" class="navbar-brand"><img class="navbar-logo" src="images/Logo_White.png" /></a>
      <a class="btn navbar-btn navbar-toggle" ng-click="isCollapsed = !isCollapsed">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  <div class="navbar-collapse collapse" uib-collapse="isCollapsed">
    <div class="col-xs-2 pull-right navbar-link" style="margin-right: 150px;">
      <a ui-sref="winelist">Consumed Wines</a>
    </div>
    <div class="col-xs-2 pull-right navbar-link" style="text-align: center">
      <a ui-sref="winelist">Wine Inventory</a>
    </div>
  </div>
</nav>
